<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">

    <img src="images/startbucks_icon.jpeg" alt="starbucks icon">
    <ul>
        <li><a href="" class="menu">MENU</a></li>
        <li><a href="" class="rewa">REWARDS</a></li>
        <li><a href="" class="menu">GIFT CARDS</a></li>
    </ul>
</body>
</html>